/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

body {
  /*background-color: #aaa;*/
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

h2 { margin: 0; }

.fakenavbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: #214177;
  color: #fff;
}

.fakenavbar h2 {
  margin: 8px 15px;
  font-size: 1.6em;
}

.fakefooter {
  height: 25px;
  margin-top: 25px;
  width: 100%;
  border-top: 1px solid #000;
  background-color: #777;
  color: #f4f4f4;
  text-align: center;
}

.jumbotron {
  margin-top: 50px;
  position: relative;
  background: url('http://lorempixel.com/900/500/nature') bottom left no-repeat;
  min-height: 400px;
  background-size: 100%;
  padding: 80px 10px; /* 10px; */
}

.jumbotron-content {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0px 15px;
  width: 25%;
  height: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.66);
  border-radius: 5px;
}

.jumbotron-content h1 {
  text-align: center;
  color: #fff;
  font-size: 1.75em;
  margin-bottom: 0.5em;
}

.jumbotron p {
  margin-top: 0;
  color: #fff;
  font-size: 1.2em;
}

.jumbotron-content label {
  color: #fff;
}

.jumbotron .img-credit {
  color: #bbb;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  margin: 5px;
  padding: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.jumbotron .img-credit a, .jumbotron .img-credit a:hover {
  color: #fff;
}

.jumbotron .btn {
  padding: 5px 5%;
  margin: 0 3%;
}

@media(min-width: 992px) {
  .jumbotron .btn {
    padding: 5px 10%;
  }
}

@media(max-width: 991px) {
  .jumbotron-content {
    position: absolute;
    height: 100%;
  }

  .jumbotron-lg-only {
    display: none;
  }
}

@media(max-width: 768px) {
  .jumbotron {
    background-size: 100% 100%;
  }

  .jumbotron-content {
    top: 0;
    height: 100%;
    width: 37%;
  }

  .jumbotron .btn {
    font-size: 0.85em;
    padding: 8px 5%;
    max-width: 65px;
  }
}

@media(min-device-width: 320px) and (max-device-width: 568px) {
  .jumbotron {
    background: #3667A6;
    min-height: 275px;
  }

  .jumbotron-content {
    width: 100%;
    height: 100%;
  }

  .jumbotron .img-credit {
    display: none;
  }
}

p.description {
	color: black;
	text-align: center;
}

h1.display-3 {
	text-align: center;
}

.intro-section {
	background-image: linear-gradient(0deg, rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url('images/pharma-production-line.jpg');
	background-position: center center;
	background-size: cover;
}

.sub-section {
	background-image: linear-gradient(0deg, rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url('https://images.stockcake.com/public/f/0/6/f06669fc-eb61-4cbd-a90c-726519f05973_large/cleanroom-manufacturing-work-stockcake.jpg');
	background-position: center center;
	background-size: cover;
}

.spacing-col {
	width : 175.5px;
}

.row {
	justify-content: space-between;
}
.push {
	margin: auto;
	background-color: #343a40;
	border-radius: 5%;
	color: rgba(255, 255, 255, 0.5);
}
.sub-box {
	background-color: #343a40;
	border-radius: 5%;
}

.sub-box-title, .sub-box-subtitle {
	text-align: center;
}

#id {
	text-align: center;
}

.footer {
	background-color: #343a40;
	text-color: rgba(255,255,255,0.5);
}

/*
.modal-content {
  width: 80%;
  margin: 0 auto;
}
.modal-body {
  padding: 0;
}
.btn-close {
  position: absolute;
  right: 0;
  padding: 1em;
}
h1 {
  font-size: 2.3em;
  font-weight: bold;
}
.myform {
  padding: 2em;
  max-width: 100%;
  color: #fff;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
}
@media (max-width: 576px) {
  .myform {
    max-width: 90%;
    margin: 0 auto;
  }
}
.form-control:focus {
  box-shadow: inset 0 -1px 0 #7e7e7e;
}
.form-control {
  background-color: inherit;
  color: #fff;
  padding-left: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #fff;
}
.myform .btn {
  width: 100%;
  font-weight: 800;
  background-color: #fff;
  border-radius: 0;
  padding: 0.5em 0;
}
.myform .btn:hover {
  background-color: inherit;
  color: #fff;
  border-color: #fff;
}
p {
  text-align: center;
  padding-top: 2em;
  color: grey;
}
p a {
  color: #e1e1e1;
  text-decoration: none;
}
p a:hover {
  color: #fff;
*/
