{% from 'bootstrap5/form.html' import render_form %}
<!doctype html>
<HTML lang="en">
    <HEAD>
        <TITLE>TEST</TITLE>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">-->
    </HEAD>
    <BODY>
<!--		{% if message %}
		{% else %}
		{% endif %}
--!>
        {{ render_form(form) }}
        <p class="pt-5"><strong>{{ message }}</strong></p>
    	<h1>accessing database:</h1>
    	<ul>
	{% for mail in emails %}
		<li>{{ mail.name}}:: {{ mail.email }}</li>
    	{% endfor %}
        </ul>
    </BODY>
</HTML>
